<span data-bip-type="textarea" data-bip-attribute="body" data-bip-object="comment" data-bip-ok-button="Save" data-bip-original-content="Testing This is da money Update. Update again with respond_with @comment" data-bip-url="/comments/54" data-bip-value="Testing This is da money Update. Update again with respond_with @comment" class="best_in_place" id="best_in_place_comment_54_body">
  <form class="form_in_place" action="javascript:void(0);" style="display:inline">
    <textarea name="body" style="min-width: 488px; min-height: 17px; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 66.2222px;"></textarea>
    <input type="submit" class="" value="Save">
  </form>
</span>
