%ul.commentList
  - if comment.body != nil
    %li
      .commenterImage
        - if comment.email != nil
          = gravatar_for comment.email
      .commenterName
        = comment.username
      .commentText
        %p
          = comment.body.html_safe
        %span.date.sub-text March 5th, 2014
        = link_to [comment.article, comment],
          method: :delete,
          data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove
