.well
  = form_for([@article, @article.comments.build]) do |f|
    .form-group
      %p
        = f.hidden_field :commenter, value: current_user.email
      %p
        = f.text_area :body,
          placeholder: "Join the discussion...",
          class: 'form-control',
          id: 'comment-form'
    %button.btn{ type: 'submit' }
      = f.submit "Post"
