/ Page Content
.container
  .row
    / Blog Entries Column
    .col-md-8
      / Articles
      = render 'articles/article'
      / Pager
      %ul.pager
        %li.previous
          %a{href: "#"} ← Older
        %li.next
          %a{href: "#"} Newer →
