%td
  = link_to user.email, user
%td
  - if user.admin?
    = link_to("Disable Admin", user_path(user, permissions: { admin: false }),
      data: { confirm: "Are you sure?" },
      method: :put, class: 'button-xs') unless user == current_user
  - else
    = link_to("Enable Admin", user_path(user, permissions: { admin: true }),
      data: { confirm: "Are you sure?" },
      method: :put, class: 'button-xs') unless user == current_user
%td
  = link_to("Delete user", user_path(user),
    :data => { confirm: "Are you sure?" },
    method: :delete, class: 'button-xs') unless user == current_user
