#logo
  max-width: 100%

.navbar-header
  height: 50px

.navbar-default .navbar-toggle
  border-color: transparent

.icon-bar
  color: #000

.navbar-default .navbar-toggle .icon-bar
  background-color: #000
