.container
  .col-xs-12.col-sm-2.footer-left
    = image_tag "logo-square.png",
      alt: "Logo Trending Virtual",
      class: "img-responsive footer-logo"
  .col-xs-12.col-sm-4.col-sm-offset-1
    .footer-icons
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "https://www.linkedin.com/in/kvperreault"}
        %i.fa.fa-linkedin
      %a{:href => "mailto:support@trendingvirtual.com"}
        %i.fa.fa-envelope
    %p.footer-links
      %a{:href => "/"} Blog
      ·
      %a{:href => "#"} About
      ·
      %a{:href => "#"} Faq
      ·
      %a{:href => "#"} Contact

  .col-xs-12.col-sm-4.col-sm-offset-1.footer-right
    %p.footer-company-about
      %span About the company
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
