%nav.navbar.navbar-default
  .row
    .container-fluid
      .navbar-header
        .col-xs-9.col-sm-3
          = link_to root_path do
            = image_tag "tv-logo-white",
              id: "logo", alt: "Trending Virtual Logo"
        .col-xs-2.col-xs-offset-1
          %button.navbar-toggle{ "data-target" => ".navbar-collapse",
            "data-toggle" => "collapse", type: "button" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Home', root_path
          = render 'layouts/navigation_links'
