-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .row
    .container-fluid
      .navbar-header
        .col-xs-9.vcenter.nopadding.verticle-center
          = image_tag "tv-logo", id: "logo", alt: "Trending Virtual Logo"
        .col-xs-2.col-xs-offset-1
          %button.navbar-toggle{ "data-target" => ".navbar-collapse",
            "data-toggle" => "collapse", type: "button" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -# = link_to 'Home', root_path, class: 'navbar-brand'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Home', root_path#, class: 'navbar-brand'
          = render 'layouts/navigation_links'
